:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}
ul {list-style: none;}
a {text-decoration: none;}

.header-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    /* line-height: 21px; */
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--navy-blue);
}

.header-menu-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--navy-blue);
}